* {
    font-family: 'Montserrat Alternates', sans-serif;
}

html {
    font-size: 62.5%
}

.swiper-container {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.swiper-container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.main-header .header-top {
    position: relative;
    display: block;
    background: #ffffff;
    padding: 15.5px 0px;
}

ul {
    padding-left: 0px;
}

h4 {
    font-size: 3rem;
    line-height: 3.6rem;
    padding-bottom: 30px;
    position: relative;
}

.main-header .header-top ul li {
    position: relative;
    display: inline-block;
    color: #2a3b47000;
    margin-right: 40px;
}

.Footer {
    padding: 50px 0px !important;
}

.main-header .header-top ul li:last-child,
.lowerHeader ul li:last-child {
    margin-right: 0px;
}

.main-header .header-top ul li a {
    color: #2a3b47;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: normal;
}

.main-header .header-top .top-left ul li i {
    margin-right: 10px;
    font-size: 14px !important;
}

.header-top .social-links {
    margin: 0px 0px;
}

.social-links {
    text-align: right;
    margin: 15px 0px;
}

.social-links li {
    position: relative;
    display: inline-block;
    margin-right: 25px;
}

header.lowerHeader ul li a:before {
    content: '';
    position: absolute;
    border-bottom: 3px solid #ff7b53;
    transition: .6s;
    width: 0px;
    height: 5px;
    left: 0px;
    top: 100%;
}

header.lowerHeader ul li:hover a:before {
    width: 50% !important;
    transform: translateX(100%) !important;
}

.main-header .header-top .top-right .social-links li:last-child {
    margin-right: 0px;
}

ul {
    margin-bottom: 0px !important;
}

.fab {
    font-size: 17px !important;
    line-height: 20px !important;
}

.nopad {
    padding: 0px;
}

a {
    text-decoration: none !important;
}

header.lowerHeader {
    z-index: 100000;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 0px;
    background: #fff;
}

.nopad {
    padding-left: 0px;
    padding-right: 0px;
}

header.lowerHeader .logo {
    position: relative;
    font-weight: 700;
    color: #2a3b47 !important;
    text-decoration: none;
    font-size: 2rem;
    line-height: 2.6rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    transition: 0.6s;
    display: inline-block;
    margin: 10px 0px;
    font-family: 'Playfair Display', serif;
}



header.lowerHeader ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    float: right;
}

header.lowerHeader ul li {
    position: relative;
    list-style-type: none;
    margin-right: 30px;
}

header.lowerHeader ul li a {
    position: relative;
    text-decoration: none;
    color: #2a3b47 !important;
    font-weight: 500;
    transition: 0.6s;
    text-decoration: none !important;
    font-size: 1.8rem;
    line-height: 2.2rem;
    transition: .5s;
}




header.sticky {
    background-color: #fff;
    padding: 10px 0px;
}

header.sticky ul li a {
    color: #2a3b47;
}

header.sticky .logo {
    color: #2a3b47;
}

.toggle {
    padding: 10px 0px;
    background: #2a3b47;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    display: none;
}

.bars {
    display: none;
}

.Banner {
    clear: both;
    padding: 63px 0px 20px;
    z-index: 100;
}

.outerContainer {
    display: flex;
    height: 500px;
    box-sizing: border-box;
}

.outerContainer .box {
    position: relative;
    width: 20vw;
    text-align: center;
    line-height: 100vh;
    flex-grow: 1;
    background-size: cover !important;
    background-position: center !important;
    transition: 1s;
    opacity: 0.6;
    overflow: hidden;
}

.outerContainer .box:nth-child(1) {
    background: url('../Image_folder/honey5.jpg')
}

.outerContainer .box:nth-child(2) {
    background: url('../Image_folder/honey8.jpg')
}

.outerContainer .box:nth-child(3) {
    background: url('../Image_folder/honey7.jpg')
}

.outerContainer .box:nth-child(4) {
    background: url('../Image_folder/honey9.jpg')
}

.outerContainer .box:hover {
    width: 40vw;
}

.content {
    color: #fff;
    position: absolute;
    left: 0px;
    bottom: -10px;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    padding: 20px 0px;
    opacity: 0;
}

.outerContainer .box:hover .content {
    bottom: 0px;
    transition: 0.5s;
    transition-delay: 0.4s;
    opacity: 1;
}

.content h2 {
    color: #fff;
    font-size: 3rem;
    line-height: 3.6rem;
    text-align: center;
}

.Gallery-Section {
    padding: 30px 0px 30px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.MainHeading::after {
    position: absolute;
    content: "";
    width: 92px;
    height: 0.38rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 4rem;
    background-color:
        #ff7b53;
}

.margin-b20 {
    margin-bottom: 30px;
}

.footer-para {
    max-width: 300px;
    width: 100%;
}

.Gallery-Section h2 {
    color: #2a3b47;
    font-size: 5rem;
    line-height: 5.6rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px !important;
}

.Gallery-Section ul {
    display: flex;
    justify-content: center;
    margin-bottom: 25px !important;
    
}
.product .itemBox{max-width: 322px !important}
.container-fluid{max-width: 720px !important;}
.ContactLeftContent {
    margin: 0 auto;
}

.Gallery-Section ul li {
    line-height: 2rem;
    font-size: 1.6rem;
    text-transform: capitalize;
    list-style-type: none;
    background: #2a3b47;
    padding: 11px 25px;
    margin: 5px;

    cursor: pointer;
    color: #fff;
    border-radius: 20px;
}

.MainHeading {
    text-align: center !important;
    padding-bottom: 50px;
    text-transform: uppercase;
    position: relative;
}

.Gallery-Section ul li.active {
    background:
        #ff7b53;

}

.swiper-container {
    width: 100%;
    height: 300px;
    max-width: 1700px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* max-width: 100%;*/
    height: 300px;
    /* Center slide text vertically */


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table-cell;
}

.swiper-slide-image {
    max-width: 100%;
    width: 100%;
    height: 300px;
    /* position: relative;*/

}

.FeatureSlider {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0px 80px;
}



.product,
.flexClass {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.product .itemBox {
    position: relative;
    max-width: 267px;
    width: 100%;
    height: 300px;
    margin: 5px;
}

.product .itemBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    transition: all .5s ease;
}

.product .itemBox img:hover {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transform: scale(1.01);
    z-index: 2;
    -ms-transform: scale(1.01);
}

.is-hidden {
    display: none;
}

.imageContainer,
.imageMain {
    position: relative;
}

.imageMain img {
    width: 100%;
    max-width: 400px;
    padding-top: 0;
    padding-right: 0;
    border: 0;
    position: relative;
    opacity: 0.3;
}

.imageContainer img:nth-child(2) {
    position: absolute;
    left: 40%;
    top: 40%;
    max-width: 300px;
    width: 100%;
}

.About-Section {
    padding: 70px 0px 80px;
}

.About-Section h2 {
    color: #2a3b47;
    font-size: 5rem;
    line-height: 5.6rem;
    text-align: left;
}

.About-Section p {
    font-size: 2rem;
    padding-top: 20px;
    line-height: 3rem;
    color: #a3a2a2;
}

.slide-container {
    position: relative;
    max-width: 500px;
    height: 560px;
    background: #fff;
    width: 100%;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
}

.slide div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}

.slide div img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide div.active {
    visibility: visible;
    opacity: 1;
}

.controls {
    position: absolute;
    width: 100%;
    height: 90px;
    background: #2a3b47;
    z-index: 1;
    transition: 0.5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
}

.slide-container:hover .controls {
    bottom: 0px;
    right: -30px;
}

.controls h2 {
    position: absolute;
    right: 0px;
    bottom: 0;
    color: #fff;
}


.fa-arrow-up:before {
    content: "\f062";
    font-size: 22px;
    bottom: 40px;
    position: absolute;
    right: 5px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.fa-arrow-down:before {

    font-size: 22px;
    bottom: 5px;
    position: absolute;
    right: 5px;
}

/* Quote section */
.Quote-Section {
    background-color: #fff;
    padding: 50px 0px;
}

.QuoteBox {
    position: absolute;
    max-width: 500px;
    width: 100%;
    height: 400px;
    background: #fff;
    transform-style: preserve-3d;
    perspective: 2000px;
    transition: 0.5s;
    display: flex;
}

.QuoteSection {
    padding: 200px 0px 500px;
    background: red;
}

.QuoteBox:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-top: 20px solid #fff;
    border-left: 20px solid #fff;
    box-sizing: border-box;
}

.QuoteBox:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-bottom: 20px solid #fff;
    border-right: 20px solid #fff;
    box-sizing: border-box;
}

.QuoteText {
    position: absolute;
    top: 30px;
    left: -30px;
    background: #262626;
    width: calc(100% + 60px);
    height: calc(100% - 60px);
    transition: 0.5s;

}

.QuoteText div {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
}

.container2 {
    max-width: 800px;
    width: 100%;
    margin: 0px auto;
}

.QuoteText div h5 {
    margin: 0px 0px 20px;
    color: #fff;
}

.QuoteText div p {
    color: #fff;
}

.Contact-Section {
    padding: 30px 0px;
    background-color: #fff;
}

.ContactLeftContent h6 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    font-weight: bold;
    color: #ff7b53;
}

.ContactLeftContent p {
    font-size: 2rem;
    line-height: 3.0rem;
    font-weight: normal;
    color: #697477;
}

li {
    list-style-type: none;
}

.ContactLeftContent li {
    padding: 3px;
}

.Linked-Container {
    max-width: 250px;
    width: 100%;
    border: 1px solid #f1f1f1;
    float: right;
}

.LinkedBg {
    position: relative;
    background-image: url("../Image_folder/insta-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 25px 0px;
}

.Profile-pic img {
    max-width: 100px;
    width: 100%;
    border-radius: 100%;
    border: 3px solid #fff;
}

.Profile-pic {
    position: absolute;
    top: 0px;
    width: 100px;
    transform: translate(69%, 26%);
    height: 100px;
    display: flex;
}

.Profile-Header {
    text-align: center;
    padding: 80px 20px 20px;
}

.Profile-Header h6 {
    font-size: 2rem;
    line-height: 2.5rem;
}

.Profile-Header p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 5px;
}

.Profile-Header a {
    color: #008cc9;
    border: 1px solid #008cc9;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 8px 12px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
}

.Linked-in-logo {
    padding: 0px 20px 20px;
}

.Linked-in-logo img {
    max-width: 100px;
    width: 100%;
}

.Footer li a {
    color: #fff;
}

.Footer li a:hover {
    color: #ff7b53;
    text-decoration: none;
}

.wrapper .button:nth-child(1) {
    margin-left: 0px;
}

.Footer {
    background-color: #2a3b47;
    padding: 40px 0px;
}

.Footer h3 {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3.0rem;
    color: #fff;
}

.Footer p,
li {
    font-weight: normal;
    font-size: 2.0rem;
    line-height: 3.0rem;
    color: #fff;
}

.Footer p {
    padding-top: 20px;
}

.Footer li {
    padding: 6px 0px;
    text-decoration: none;
}

.Footer ul {
    padding-top: 15px;
}

.icon a {
    color: #2a3b47;
}
/* banner carousal css */
.page-carousal .item {
    height: 100vh;
    position: relative;
}

.page-carousal .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-carousal .item .cover {
    padding: 75px 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
}

.page-carousal .item .cover .header-content {
    position: relative;
    padding: 56px;
    overflow: hidden;
}

.page-carousal .item .cover .header-content .line {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border: 9px solid #fff;
    -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
    clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}

.page-carousal .item .cover .header-content h2 {
    font-weight: 300;
    font-size: 35px;
    color: #fff;
}

.page-carousal .item .cover .header-content h1 {
    font-size: 56px;
    font-weight: 600;
    margin: 5px 0 20px;
    word-spacing: 3px;
    color: #fff;
}

.page-carousal .item .cover .header-content h4 {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    color: #fff;
}

.page-carousal .owl-item.active h1 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 0.3s;
}

.page-carousal .owl-item.active h2 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 0.3s;
}

.page-carousal .owl-item.active h4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    animation-delay: 0.3s;
}

.page-carousal .owl-item.active .line {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
    animation-delay: 0.3s;
}

.page-carousal .owl-nav .owl-prev {
    position: absolute;
    left: 15px;
    top: 43%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5) !important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 0;
}

.page-carousal .owl-nav .owl-prev span {
    font-size: 1.6875rem;
    color: #fff;
}

.page-carousal .owl-nav .owl-prev:focus {
    outline: 0;
}

.page-carousal .owl-nav .owl-prev:hover {
    background: #000 !important;
}

.page-carousal .owl-nav .owl-next {
    position: absolute;
    right: 15px;
    top: 43%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5) !important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 0;
}

.page-carousal .owl-nav .owl-next span {
    font-size: 1.6875rem;
    color: #fff;
}

.page-carousal .owl-nav .owl-next:focus {
    outline: 0;
}

.page-carousal .owl-nav .owl-next:hover {
    background: #000 !important;
}

.page-carousal:hover .owl-prev {
    left: 0px;
    opacity: 1;
}

.page-carousal:hover .owl-next {
    right: 0px;
    opacity: 1;
}
/* social icons css*/
.wrapper .button{
  display: inline-block;
  height: 40px;
  width: 40px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 40px;
  box-sizing: border-box;
  line-height: 50px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 18px;
  line-height: 40px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 40px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}
/* Add Animation */
@media(max-width: 1199px) {
    .aboutRightContent {
        padding-left: 30px;
    }

    .slide-container {
        max-width: 450px;
    }

}

@media(max-width: 991px) {
    .slide-container {
        margin: 0 auto 40px;
    }

    .About-Section h2 {

        font-size: 3rem;
        line-height: 3.6rem;
    }

    .About-Section {
        padding: 50px 0px;
    }

    .ContactRightBox {
        margin: 0 auto 40px;
        float: none;
    }

    .Linked-Container {
        float: none;
        margin: 0 auto;
    }

    .center {
        text-align: center;
    }

    .m20 {
        margin-top: 20px
    }

    .footer-para {
        max-width: 100%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 991px) {
    .imageContainer img:nth-child(2) {
        left: 60%;
    }

    header.lowerHeader .logo {
        letter-spacing: 5px;
        font-size: 1.8rem;
        line-height: 2.3rem;
    }

    .container2 {
        max-width: 100%;
        width: 100%;
        margin: 0px auto;
        padding: 0px 20px;
    }
    
    .page-carousal .item .cover .header-content .line {
        border: none !important;
    }
    .page-carousal .item .cover .header-content h1{ font-size: 50px !important;}
    .page-carousal .item .cover .header-content h2 {
        font-size: 26px !important;
    }

    .page-carousal .item .cover .header-content {
        padding: 40px 20px 20px !important;
    }
    .aboutRightContent {
    padding-left: 0px;
}
   .page-carousal .item .cover{padding: 75px 0 40px;}
   .page-carousal .item .cover .header-content h4{padding-bottom: 0px;}
    .outerContainer {
        flex-direction: column-reverse;
    }

    .outerContainer .box:hover {
        height: 10500vh;
        max-width: 96vw !important;
        width: 100%;
    }

    .outerContainer .box {
        max-width: 96vw !important;
        width: 100%;
        height: 4500px;
        transition: 0.5s;
    }

    .menu {
        display: none;
    }

    .bars {
        display: block;
        font-size: 30px;
        float: right;
        color: #2a3b47;
    }

    .hide {
        display: hidden;
    }



    header.newClass {
        top: 0px !important;
    }
     .menu ul {
        float: none !important;
        display: block !important;
    }

    .menu ul li {
        display: block;
        width: 100%;
        margin: 10px 0px;
    }

    header.lowerHeader ul li a {
        margin: 0px !important
    }
}

@media(max-width: 767px) {
    html {
        font-size: 55%
    }

    .container2 {
        max-width: 100%;
        width: 100%;
        margin: 0px auto;
        padding: 0px 20px;
    }

    .product .itemBox {
        height: 500px;
    }

    .page-carousal .item .cover .header-content h1 {
        font-size: 26px !important;
    }

    .page-carousal .item .cover .header-content {
        padding: 20px !important;
    }

    .page-carousal .item .cover .header-content .line {
        border: none !important;
    }

    .page-carousal .item .cover .header-content h2 {
        font-size: 26px !important;
    }

    .page-carousal .item .cover .header-content {
        padding: 40px 20px 20px !important;
    }

    .outerContainer {
        flex-direction: column-reverse;
    }

    .outerContainer .box:hover {
        height: 10500vh;
        max-width: 96vw !important;
        width: 100%;
    }

    .outerContainer .box {
        max-width: 96vw !important;
        width: 100%;
        height: 4500px;
        transition: 0.5s;
    }

    .menu {
        display: none;
    }

    .bars {
        display: block;
        font-size: 30px;
        float: right;
        color: #2a3b47;
    }

    .hide {
        display: hidden;
    }



    header.newClass {
        top: 0px !important;
    }

    .social-links {
        text-align: center !important;
        margin-top: 15px !important;
    }

    .center {
        text-align: center;
    }

    .floatNone {
        float: none !important
    }

    .product {
        justify-content: center;
    }

    .menu ul {
        float: none !important;
        display: block !important;
    }

    .menu ul li {
        display: block;
        width: 100%;
        margin: 10px 0px;
    }

    header.lowerHeader ul li a {
        margin: 0px !important
    }

    .product .itemBox {
        max-width: 100%;
    }

    .aboutRightContent {
        padding-left: 0px;
    }
}

@media(max-width: 576px) {
    .slide-container {

        max-width: 250px;
    }

    .Gallery-Section ul li {
        font-size: 1.5rem;
        line-height: 2.2rem;
        padding: 11px 20px;
    }
}

@media(max-width: 480px) {
    .Gallery-Section ul li {
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 8px 10px;
        margin: 3px 4px;
    }

    .imageContainer img {
        max-width: 150px;
    }

    .imageContainer img:nth-child(2) {
        left: 55%;
        max-width: 100px;
    }

    .ContactLeftContent p {
        max-width: 1.6rem;
    }
}